<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form method="get" action="/auth" name="authr">
      <input type="submit" id="btnAuth" value="Authorization" />
    </form>
  </body>
</html>
